################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UserAPI/.vs/UserAPI
/UserAPI/bin/Debug/net8.0
/UserAPI/obj
